node_modules/
package-lock.json
dist/
.env
.DS_Store
.vscode/
.idea/
index.js
index.js.map
index.d.ts
index.d.ts.map
test-folder/test.js
test-folder/test.js.map
test-folder/test.d.ts
test-folder/test.d.ts.map
